#motion-tracker-window
{
	height: auto;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

#motion-tracker-window .M314
{
	background-color: #194c99;
	color: #ffffffbb;
}

#motion-tracker-window .Arious
{
	background-color: #000000;
	color: #ffbc00;
	text-shadow: 0 0 5px rgb(255, 145, 0);
}

#motion-tracker-window > .window-header
{
	padding: 0px;
	border: 0px;
	margin: 0px;
	/*background-color: #194c99;*/
	padding-left: 5px;
	padding-right: 5px;
}
/*
#motion-tracker-options-player-list
{
	color: #ffffffbb;
}*/

.motion-tracker-owner
{
	font-weight: bold;
	text-decoration: underline;
}

#motion-tracker-window > .window-content
{
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.motion-tracker-ico
{
	width: 28px;
	height: 28px;
	background: no-repeat url("./textures/motion_tracker_ico.webp");
	background-size: 28px;
}

#controls ol.control-tools > li img.control-tool-motion-tracker-img
{
	width: 36px;
	height: 36px;
	margin-top: 36px;
}

#motion-tracker-canvas
{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px;
}

#motion-tracker-canvas canvas.Arious
{
	border-radius: 25px;
}

#motion-tracker-options-content
{
	display: none;
}

#motion-tracker-options-content i
{
	display: inline-block;
}

.motion-tracker .form-fields.status-container
{
	display: grid;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	grid-template-columns: repeat(8, 1fr);
}

.motion-tracker .status-item
{
	width: 32px;
	height: 32px;
	background-color:#55555588;
}

.motion-tracker .selected
{
	background-color:#00ff0088;
	border: 2px solid #00aa00;
}

.motion-tracker .mandatory
{
	background-color:#ff550088;
	border: 2px solid #ff3300;
}

.motion-tracker-options-open-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_open_ico.webp");
	background-size: 16px;
}

.motion-tracker-options-close-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_close_ico.webp");
	background-size: 16px;
}

.motion-tracker-options-mute-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_unmute_ico.webp");
	background-size: 16px;
}

.motion-tracker-options-unmute-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_mute_ico.webp");
	background-size: 16px;
}

.motion-tracker-options-unmute-32px-ico
{
	width: 32px;
	height: 32px;
	background: no-repeat url("./textures/motion_tracker_options_unmute_ico.webp");
	background-size: 32px;
}

.motion-tracker-options-ftc-enabled-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_ftc_enabled_ico.webp");
	background-size: 16px;
}

.motion-tracker-options-ftc-disabled-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_ftc_disabled_ico.webp");
	background-size: 16px;
}

.motion-tracker-options-inverse-status-enabled-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_inverse_status_enabled_ico.webp");
	background-size: 16px;
}

.motion-tracker-options-inverse-status-disabled-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_inverse_status_disabled_ico.webp");
	background-size: 16px;
}

.motion-tracker-options-use-fake-signals-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_use_fake_signals_ico.webp");
	background-size: 16px;
}

.motion-tracker-options-not-use-fake-signals-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_not_use_fake_signals_ico.webp");
	background-size: 16px;
}

.motion-tracker-options-apply-screen-glitch-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_apply_screen_glitch_ico.webp");
	background-size: 16px;
}

.motion-tracker-options-not-apply-screen-glitch-ico
{
	cursor: pointer;
	display: flex;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_options_not_apply_screen_glitch_ico.webp");
	background-size: 16px;
}

.motion-tracker-hide-ico
{
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_visible_ico.webp");
	background-size: 16px;
	margin-right: 5px;
}

.motion-tracker-show-ico
{
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: no-repeat url("./textures/motion_tracker_invisible_ico.webp");
	background-size: 16px;
	margin-right: 5px;
}