<!--li class="scene-control" data-control="motion-tracker" title="{{localize "MOTIONTRACKER.controlButton"}}">
    <img src="{{controlButtonIcon}}" class="control-tool-motion-tracker-img">
    <div class="wrapper">
        <i class="fas"></i>
    </div>
</li-->

<li>
	<button type="button" class="control ui-control layer icon fa-solid motion-tracker-ico" role="tab" data-action="control" data-control="motion-tracker" data-tooltip="" aria-pressed="false" aria-label="{{localize "MOTIONTRACKER.controlButton"}}" aria-controls="scene-controls-tools"></button>
</li>