
<div id="motion-tracker-options">
	<i class="motion-tracker-options-toggle motion-tracker-options-open-ico"></i>
	<div id="motion-tracker-options-content">
		<i class="motion-tracker-options-mute-toggle {{ui.audioMuteIcon}}"></i>
		<i class="motion-tracker-options-fastTokenChange-toggle {{ui.fastTokenChangeIcon}}"></i>
		<i class="motion-tracker-options-inverseStatus-toggle {{ui.inverseStatusIcon}}"></i>
		<div id="motion-tracker-options-player-list"></div>
	</div>
</div>
<div id="motion-tracker-canvas" style="position: absolute; left: 0; top: 0;pointer-events: none;"></div>